.wrapper[open] {
  width: 400px;
  min-width: 50px;
  height: 400px;
  min-height: 25px;
  border: none;
  background: transparent;
  position: absolute;
  top: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 4px;
  overflow: hidden;
  filter: drop-shadow(0px 1px 3px  rgba(0, 0, 0, 0.12)) drop-shadow( 0px 1px 2px rgba(0, 0, 0, 0.24)); 
  z-index : 2;
}

.content {
  /*pointer-events: none;*/
  padding: 0px;
  border: none;
  height: 100%;
  margin: 0px;
  background: #FFFFFF;
}

.drag-bar {
  height: 25px;
  flex: 0 0 25px;
  background: #444444;
  cursor: move;
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
}

.console-container {
  background: white;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  flex : 1;
  border: solid 1px black;
  padding: 2ch;
  margin: 0px;
  height: 100px;
  box-sizing: border-box;
  overscroll-behavior: contain;
  margin-top: auto;
  width : 100%;
  order : 2;
  align-self: flex-end;
}

.close:hover {
  filter: invert(1);
}
.close,
.run-code {
  all: unset;
  cursor: default;
}
.close {
  min-width: 25px;
  background: #333333 no-repeat center/50%
    url('data:image/svg+xml;utf8,\
  <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">\
  <path d="M 0 0 L 100 100 M 100 0 L 0 100" stroke="white" stroke-width="8"/>\
</svg>');
}

.run-code {
  width: 50px;
  height: 50px;
  background: transparent no-repeat center/60%
    url('data:image/svg+xml;utf8,\
  <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">\
  <path d="M 90,50 10,90 10,10 z" stroke-linejoin= "round" stroke-linecap="round" stroke="black" stroke-width="8" fill="transparent"/>\
</svg>');
}